main{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}