#mainengcards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    grid-template-areas: 
    "FC1 FC2 instagram1 instagram2"
    "twitter1 twitter2 youtube1 youtube2";
    
}

#DarkOverview{
    color: white;
}

#LightOverview{
    color: black;
}

@media only screen and (max-width: 600px){
    #mainengcards{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    } 

    #DarkOverview{
        padding-left: 15px;
    }
    
    #LightOverview{
        padding-left: 15px;
    }
}